
/* параметры секции header */
.header {
    border-bottom: 1px solid #ececec;
  
    &__container {
      display: flex;
    }
  
    &__nav {
      border: 0px solid red;
      display: flex;
      justify-content: center;
      align-items: center;
      /* height: 80px; */
    }

    &__burger-btn {
      border: 0;
      background: none;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px 0 10px 0;
      margin-left: auto;
      

      @media (min-width: 480px) and (min-width: 768px) {        
        display: none;
      }

    }
  
    &__menu {

      display: none;
      gap: 50px;
      margin-left: 93px;

      @media (min-width: 480px) and (min-width: 768px) {        
        display: flex;
      } 

    }

    &__nav-contacts {
      display: none;
      margin-left: auto;
            
        
      @media (min-width: 480px)  {        
        // display: flex;
      }

      @include for-tablet {  
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        // padding-top: 21px;
        // border: 1px solid black;
      } 

      @media (min-width: 1200px) { 
        display: flex; 
        flex-direction: row;
        align-items: center;
        gap: 50px;
      } 


    }

      /* стиль ссылкок шапка */
  &__links,
  &__contacts {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-main-color);
    padding: 32px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__contacts {
    @include for-tablet {        
      padding: 0px;
      line-height: 2.10;
      font-size: 12px;
      // margin-bottom: 10px;
    } 
  }

  /* цвет ссылок контактов шапка*/
  &__contacts {
    color: var(--description-color);
    /* выравнивание иконок по вертикали */
    display: flex;
    align-items: center;
  }

    /* цвет ховера и текущ. ссылки*/
    &__links:hover,
    &__contacts:hover,
    &__links--current {
      /* text-decoration: none; */
      position: relative;
      color: var(--accent-color);
    }

    &__links--current::after {
      display: inline-block;
      content: "";
      width: 100%;
      height: 4px;
      position: absolute;
      left: 0;
      bottom: -1px;
      border-radius: 2px;
      background-color: var(--accent-color);
    }

    &__links:focus {
      color: green;
    }
    
    &__links:active {
      color: red;
    }
  
  /* ховер телефона и конверта вместе со ссылками */
  
  &__contacts:hover &__icons {
    fill: var(--accent-color);
  }
  
  /* телефон и конверт  */
  &__icons {
    margin-right: 10px;
  }
  

  }


