
/* соц линки */

.media-links {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover {
      background-color: var(--accent-color);
    }
    
    &:hover .svg-icons {
      fill: var(--light-main-color);
    }
  
  }
  
  
  
// ці коменти нижче для мене

  /* заливаем иконки цветом 
  .whatwedo__icons,
  .header__icons,
  .clients__icons {
    fill: var(--icons);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }*/
  
  
  
  /* возможно убрать 
  .links:hover .header__icons {
    fill: var(--accent-color);
  }*/