/* наша команда */

.team {
    background: #f5f4fa;
    /* padding: 94px 0; перенесено в section*/

    &__list {
      display: flex;
      flex-direction: column;
      gap: 30px;
      // max-width: 480px; 
      margin: auto;
      text-align: center;

      @include for-tablet {        
        // display: flex; 
        flex-direction: row;  
        flex-wrap: wrap;
        // max-width: 768px;
      }  

      @include for-desktop {    
        flex-direction: row;
        flex-wrap: nowrap;
      }
    }
  
    &__item {
      background: #ffffff;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      text-align: center;
      // border: 1px solid blue;
      width: 450px;
      margin: 0 auto;

      @include for-tablet {        
        // border: 1px solid black;
        width: 354px;
      }

      @include for-desktop {        
          // border: 1px solid black;
        // width: 354px;

      }  

    }
    
    
    &__title {
      /* стиль заголовков Наша команда */
      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;
      letter-spacing: 0.03em;
      color: var(--text-main-color);
      padding-top: 30px;
      margin-bottom: 10px;
    }
    
    &__text {
      /* имена и профессии команды */
      font-size: 16px;
      line-height: 1.19;
      letter-spacing: 0.03em;
      color: var(--description-color);
      margin-bottom: 16px;
    }
    
    &__social-links {
      justify-content: center;
      display: flex;
      gap: 10px;
      padding-bottom: 30px;
    }

  }
  
  