body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background: var(--main-bg);
  font-weight: 400;
  /* ширина макета */
  max-width: 1600px;
  margin: 0 auto;

  // @media (min-width: 480px) {        
    // max-width: 1600px;
  // } 

}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
} /* оформление списка Убираем маркеры у li*/

h2 {
  /* заголовкок в Чим Займаемося и Наша команда */
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
  margin: auto;
  margin-bottom: 30px;
  text-align: center;

  @include for-tablet {        
    font-size: 28px;
  }
  
  @include for-desktop {         
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.44;
  } 
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  
  padding: 0 15px;

  @media (min-width: 480px) {        
    // max-width: 480px;
    // max-width: auto;
    margin: 0 auto;
  } 

  @media (min-width: 768px) {        
    // min-width: 100%;
    max-width: 768px;
    margin: 0 auto;
  } 

  @media (min-width: 1200px) {        
    max-width: 1200px;
    margin: 0 auto;
  }

}

.section {
  padding: 60px 0;

  @include for-tablet {        
    padding: 60px 0;
  }  

  @include for-desktop {        
    padding: 94px 0;
  }  

}

/* заливаем иконки по умолчанию серым цветом */
.svg-icons {
  fill: var(--icons);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
