:root {
    --text-main-color: #212121; /*основной цвет текста*/
    --light-main-color: #ffffff; /*белый цвет текста*/
    --description-color: #757575; /*цвет описания списков */
    --accent-color: #2196f3; /*цвет и акцентов */
    --main-bg: #fff; /*цвет основного бєкгроунда */
    --light-gray: #f5f4fa; /*цвет кнопок и рамок*/
    --logo: #000000;
    --icons: #afb1b8; /*цвет иконок*/
    --bp-mobile: 480px; /*разрешение мобильного пристроя*/
    --bp-tablet: 768px; /*разрешение планшета*/
    --bp-desktop: 1200px; /*разрешение монитора*/
  }